body {
  margin: 0;
   font-family: 'Vampiro One';
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

h3{
  text-align: center;
  font-size: 30px;
  margin-top: 4px;
}

.grid {
  max-width: 400px;
  height: 500px;
  text-align: center;
  margin: auto;
  background: lightgrey;
  padding-top: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

img:hover {
  box-shadow: 0px 10px 20px   black;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.play-again-btn {
  margin: 15px;
  text-align: center;
 
}

button {
  font-family: 'Vampiro One';
  font-size: larger;
   text-align: center;
   background-color: orange;
   margin-top: 20px;
   height: 35px;
   width: 200px;
   font-weight: 700;
   border: none;
   border-radius:5px ;
   -webkit-border-radius:5px ;
   -moz-border-radius:5px ;
   -ms-border-radius:5px ;
   -o-border-radius:5px ;
}

button:hover {
 background-color: orangered;
 transition: .5s;
 -webkit-transition: .5s;
 -moz-transition: .5s;
 -ms-transition: .5s;
 -o-transition: .5s;
}

footer{
  margin-top: 30px;
  text-align: center;
}



@media only screen and (max-device-width: 480px) {
  .container {
    width: 70%;
  }
}